<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>一問一答トレーニングの利用方法</title>
  <style>
  .imgHowToUse{
    width:100%;
    height:30em;
    /* background-image:url("assets/howtouse1.png"); */
    object-fit: contain;
  }

  .imgHowToUse_2{
    width:100%;
    height:30em;
    /* background-image:url("assets/howtouse2.png");
    background-repeat: no-repeat;  /* 背景画像を繰り返し表示しない */
    /* background-position: center;   背景画像の位置を中央に指定 */
    /* background-size: contain;  */
    object-fit: contain;

  }

  .imgHowToUse_3{
    width:100%;
    height:30em;
    /* background-image:url("assets/howtouse3.png");
    background-repeat: no-repeat;  /* 背景画像を繰り返し表示しない */
    /* background-position: center;   背景画像の位置を中央に指定 */
    /* background-size: contain; */
    object-fit: contain;
  }
  </style>
</head>
        <%# 左カラム %>
          <div class="col-sm-8 bg-light">
            <p class="h4 bg-info text-white my-3 px-2 py-1">利用方法</p>
            <div class="card borded">
              <div class="card-body">
                <p class="card-text">一問一答アプリケーションの使い方を紹介します。</p>
                <p class="h6 bg-info text-white px-2 py-1">Webで問題を解く</p>
                  <div class="card-body">
                    <p class="card-text">出題開始ボタンを押下すると問題が出題されます。出題範囲や難易度を設定したい場合は、それぞれ「▼範囲を指定する」、「▼難易度を指定する」タイトルを押して、任意に設定してください。</p>
                    <div class="">
                      <%= image_tag 'howtouse1.png', class: 'card-text imgHowToUse' %>

                    <%# <p class="card-text imgHowToUse"></p> %>
                    <p class="text-danger">再読み込み・更新（リロード）は押さないようにしてください。意図しない挙動になることがあります。</p>
                    </div>
                  </div>
                <p class="h6 bg-info text-white px-2 py-1">問題を印刷する</p>
                  <ol>
                    <li class="card-text">問題印刷ボタンを押下します</li>
                      <div class="card borded">
                        <div class="card-body">
                          <p class="card-text" >※問題印刷ボタンはウインドウのサイズ（画面幅）を1200px以上にすると表示されます。</p>
                        </div>
                      </div>
                    <li class="card-text">
                      出題する範囲・難易度・問題数・出題方法・出題形式をそれぞれ選択して、「問題を印刷する」ボタンを押してください。
                    </li>
                      <%= image_tag 'howtouse2.png', class: 'card-text imgHowToUse_2' %>
                    <li class="card-text">
                      画面に問題が表示されたら、「印刷ボタン」を押してプリントアウトしてください。
                    </li>
                      <%= image_tag 'howtouse3.png', class: 'card-text imgHowToUse_3' %>
                  </ol>
              </div>
            </div>
            <p class="text-center mt-5">------</p>
            <p class="text-center"><%= link_to '問題選択へ戻る', root_path, method: :get %>

          </div>