<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
        <%# 左カラム %>
          <div class="col-sm-8 bg-light">
            <p class="h4 bg-info text-white my-3 px-2 py-1">リンク集</p>
            <div class="card borded">
              <div class="card-body">
                <p class="card-text">ここでは、受験や勉強に役立つサイトを紹介いたします！</p>
                <p class="h6 bg-info text-white px-2 py-1">お役立ちサイト</p>
                <div class="card-body">
                  <p class="card-text"></p>
                  <div class="">
                    <ul>
                      <li>
                        <a href="https://light-juku.co.jp/" target="_blank" rel="noopener noreferrer">大学受験予備校ライト</a>
                            <p>
                              「大学受験予備校ライト」さんはティーチングではなくコーチングを採用し、生徒一人ひとりに合わせたオーダーメイドの指導を行う塾です。
                              担当コーチが生徒と二人三脚で志望校合格を目指し、個別の勉強計画や戦略を立てることで最短ルートでの合格をサポートしてくださいます。
                            </p>
                            <p>
                              受験戦略の立案から年間・週間計画の作成、学習進捗の管理まで、徹底したサポート体制を整え、週ごとの定着度確認テストや1対1のコーチングを通じて、効率的で確実な学習を進めることができますよ。
                            </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-center mt-5">------</p>
            <p class="text-center"><%= link_to '問題選択へ戻る', root_path, method: :get %>
          </div>