<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>利用規約・プライバシーポリシー</title>
  <style>
  </style>
</head>
  <div class="col-sm-8 bg-light">
    <!-- 利用規約 -->
    <div class="termsOfUse">
      <p class="h4 bg-info text-white my-3 px-2 py-1">利用規約・プライバシーポリシー</p>
      <div class="row termsOfUseList col-12 mx-auto card borded ">
        <div class="card-body">
          <p>【利用規約】</p>
          <div class="firstArticle card-text">
            <p><b>第1条</b></p>
            <ol>
              <li>
                本規約は、当社とユーザー間の権利義務関係を定めるものであり、ユーザーと当社の間の全ての関係に適用されます。
              </li>
              <li>
                本サービスの利用を開始した場合は、本規約に同意したものとみなされます。
              </li>
              <li>
                本規約の規定と、本サービスに関するルールや説明とが異なる場合は、本規約の規定が優先して適用されます。
              </li>
            </ol>
          </div>
          <div class="secondArticle">
            <p><b>第2条</b></p>
            <p>本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
            <ol>
              <li>
                「サービス利用契約」とは、本規約を契約条件として当社とユーザーの間で締結される、本サービスの利用契約を意味します。
              </li>
              <li>
                「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権を意味します。
              </li>
              <li>
                「投稿データ」とは、ユーザーが本サービスを利用して投稿その他送信するコンテンツ（文章、画像、動画その他のデータを含む）を意味します。
              </li>
              <li>
                「当社」とは、当アプリの開発者運営者を意味します。
              </li>
              <li>
                「ユーザー」とは、本サービスを利用する個人または法人を意味します。
              </li>
              <li>
                「当社ウェブサイト」とは、そのドメインが「▼.com」である、当社が運営するウェブサイトを意味します（ドメインまたは内容が変更された場合は、変更後のウェブサイトも含まれる）。
              </li>
              <li>
                「本サービス」とは、当社が提供する当社ウェブサイトにより提供されるサービスを意味します（サービスの名称または内容が変更された場合は、変更後のサービスも含まれる）。
              </li>
            </ol>
          </div>
          <div class="thirdArticle">
            <p><b>第3条</b></p>
            <ol>
              <li>
                本サービス及び当社ウェブサイトに掲載している情報は無料で提供されます。
              </li>
              <li>
                ユーザーが本サービス範囲外の個別の対応を要求する場合は、当社が指定する利用料金を支払う必要があります。
              </li>
              <li>
                利用料金は、当社が指定する支払方法に従って支払うものとします。
              </li>
            </ol>
          </div>
          <div class="forthArticle">
            <p><b>第4条</b></p>
            <p>ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為または該当すると当社が判断する行為をしてはなりません。</p>
            <ul style="list-style: disc;">
              <li>
                法令に違反する行為または犯罪行為に関連する行為
              </li>
              <li>
                当社、本サービスの他の利用者またはその他の第三者に対する詐欺または脅迫行為
              </li>
              <li>
                当社、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為
              </li>
              <li>
                本サービスを通じ、以下に該当し、または該当すると当社が判断する情報を当社または本サービスの他の利用者に送信すること
                <ul style="list-style: circle;">
                  <li>
                    現行および導入予定の入試制度に対する批判的な表現や誤った情報
                  </li>
                  <li>
                    過度に暴力的または残虐な表現を含む情報
                  </li>
                  <li>
                    コンピュータ・ウィルスその他の有害なコンピュータ・プログラムを含む情報
                  </li>
                  <li>
                    当社、本サービスの他の利用者またはその他の第三者の名誉または信用を毀損する表現を含む情報
                  </li>
                  <li>
                    過度にわいせつな表現を含む情報
                  </li>
                  <li>
                    差別やヘイトを助長する表現を含む情報
                  </li>
                  <li>
                    自殺、自傷行為を助長する表現を含む情報
                  </li>
                  <li>
                    薬物の不適切な利用を助長する表現を含む情報
                  </li>
                  <li>
                    反社会的な表現を含む情報
                  </li>
                  <li>
                    チェーンメールやリツイート等の第三者への情報の拡散を求める情報
                  </li>
                  <li>
                    他人に不快感を与える表現を含む情報
                  </li>
                </ul>
              </li>
              <li>
                本サービスのアクセス制御機能を回避する行為
              </li>
              <li>
                本サービスのネットワークまたはシステム等に過度な負荷をかける行為
              </li>
              <li>
                当社が提供するソフトウェアその他のシステムに対するリバースエンジニアリングその他の解析行為
              </li>
              <li>
                ソースコードのトレース、デバッグ、スクレイピングその他の手段により当社ウェブサイトのソースコードを得ようとする行為
              </li>
              <li>
                本サービスの運営を妨害するおそれのある行為
              </li>
              <li>
                当社のネットワークまたはシステム等への不正アクセス
              </li>
              <li>
                第三者に成りすます行為
              </li>
              <li>
                当社ウェブサイト内の画像に直接リンクする行為
              </li>
              <li>
                本サービスの他の利用者のIDまたはパスワードを利用する行為
              </li>
              <li>
                当社が事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為
              </li>
              <li>
                本サービスの他の利用者の情報の収集
              </li>
              <li>
                当社、本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為
              </li>
              <li>
                反社会的勢力等への利益供与
              </li>
              <li>
                面識のない異性をはじめとする、人との出会いを目的とした行為
              </li>
              <li>
                前各号の行為を直接または間接に惹起し、または容易にする行為
              </li>
              <li>
                前各号の行為を試みること
              </li>
              <li>
                その他、当社が不適切と判断する行為
              </li>
            </ul>
          </div>
          <div class="fifthArticle">
            <p><b>第5条</b></p>
            <p>当社は、以下のいずれかに該当する場合には、ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
            <ol>
              <li>
                本サービスの点検または保守作業を急遽行う必要がある場合。
              </li>
              <li>
                コンピュータや通信回線などに障害が発生し、本サービスの運営が困難になった場合。
              </li>
              <li>
                不正アクセスやハッキングなどのセキュリティ上の問題が発生し、本サービスの運営が困難になった場合。
              </li>
              <li>
                天災地変などの不可抗力が発生し、本サービスの運営が困難になった場合。
              </li>
              <li>
                当社が停止または中断を必要と判断した場合。
              </li>
            </ol>
          </div>
          <div class="sixthArticle">
            <p><b>第6条</b></p>
            <ol>
              <li>
                当社ウェブサイト及び本サービスに関する知的財産権は当社または当社にライセンスを許諾している者に帰属します。
              </li>
              <li>
                本規約に基づく本サービスの利用許諾は、当社ウェブサイトまたは本サービスに関する当社または当社にライセンスを許諾している者の知的財産権の使用許諾を意味しません。
              </li>
              <li>
                ユーザーは投稿データについて、自らが投稿その他送信することについての適法な権利を有していること、及び投稿データが第三者の権利を侵害していないことについて、当社に対し表明し、保証します。
              </li>
              <li>
                ユーザーは投稿データについて、当社に対し、世界的、非独占的、無償、サブライセンス可能かつ譲渡可能な使用、複製、配布、派生著作物の作成、表示及び実行に関するライセンスを付与します。
              </li>
              <li>
                ユーザーは当社及び当社から権利を承継しまたは許諾された者に対して著作者人格権を行使しないことに同意します。
              </li>
              <li>
                当社ウェブサイトに掲載しているコンテンツは著作権の対象であり、当社ウェブサイト全体も編集著作物として著作権の対象です。
              </li>
              <li>
                当社ウェブサイトのコンテンツを営利・非営利を問わず、当社の許諾を得ずに使用することはできません。
              </li>
            </ol>
          </div>
          <div class="seventhArticle">
            <p><b>第7条</b></p>
            <ol>
              <li>
                当社は、当社の都合により、本サービスの内容を変更し、または提供を終了することができます。
              </li>
              <li>
                当社が本サービスの提供を終了する場合、当社は当社ウェブサイト上での掲示その他の適切な方法によりユーザーに事前に通知するものとします。
              </li>
            </ol>
          </div>
          <div class="eighthArticle">
            <p><b>第8条</b></p>
            <ol>
              <li>
                当社は、ユーザーの特定の目的に適合すること、期待する機能・商品的価値・正確性・完全性・有用性・合法性・道徳性・最新性・適切性を保証しません。
              </li>
              <li>
                本サービスの利用によって発生する費用や損害について、当社は一切の責任を負いません。
              </li>
              <li>
                付随的損害、間接損害、特別損害、将来の損害及び逸失利益については、当社は責任を負いません。
              </li>
              <li>
                ユーザーと他のユーザーまたは第三者との間で生じた取引、連絡、紛争等については、ユーザーが自己の責任によって解決するものとします。
              </li>
            </ol>
          </div>
          <div class="ninthArticle">
            <p><b>第9条</b></p>
            <p>ユーザーは、当社が秘密に保持する情報について、当社の書面による承諾がない限り、秘密に保持するものとします。</p>
          </div>
          <div class="tenthArticle">
            <p><b>第10条</b></p>
            <ol>
              <li>
                ユーザーの利用者情報については、当社が定めるプライバシーポリシーの定めによるものとし、ユーザーはこのプライバシーポリシーに従って当社がユーザーの利用者情報を取扱うことについて同意するものとします。
              </li>
              <li>
                当社は、ユーザーが提供した情報やデータを個人を特定できない形で統計的な情報として、当社の裁量で、利用し、公開することができます。
              </li>
              <li>
                ユーザーは、統計的な情報として利用されることに異議を唱えないものとします。
              </li>
            </ol>
          </div>
          <div class="eleventhArticle">
            <p><b>第11条</b></p>
            <ol>
              <li>
                当社は、当社が必要と認めた場合は、ユーザーに通知することなくいつでも本規約を変更できるものとします。
              </li>
              <li>
                本規約の変更に当たり、ユーザーの皆様に大きな影響を与える場合には、変更後の本規約の施行時期及び内容を当社ウェブサイト上での掲示その他の適切な方法により周知し、またはユーザーに通知します。ただし、法令上ユーザーの同意が必要となるような内容の変更の場合は、当社所定の方法でユーザーの同意を得るものとします。
              </li>
              <li>
                変更後の本規約に同意しないユーザーは、本サービスの利用を停止をお願いいたします。
              </li>
            </ol>
          </div>
          <div class="twelvethArticle">
            <p><b>第12条</b></p>
            <ol>
              <li>
                本サービスに関する問い合わせその他ユーザーから当社に対する連絡または通知、及び本規約の変更に関する通知その他当社からユーザーに対する連絡または通知は、当社の定める方法で行うものとします。
              </li>
              <li>
                当社が登録されているメールアドレスや連絡先に通知を送信した場合、ユーザーはその通知を受け取ったものとみなします。
              </li>
            </ol>
          </div>
          <div class="thirteenthArticle">
            <p><b>第13条</b></p>
            <ol>
              <li>
                ユーザーは、当社の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。
              </li>
              <li>
                当社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びにユーザーの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、ユーザーは、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
              </li>
            </ol>
          </div>
          <div class="fourteenthArticle">
            <p><b>第14条</b></p>
            <p>本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>
          </div>
          <div class="fifteenthArticle">
            <p><b>第15条</b></p>
            <ol>
              <li>
                本規約及びサービス利用契約の準拠法は日本法とします。
              </li>
              <li>
                本規約またはサービス利用契約に起因し、または関連する一切の紛争については、大阪地方裁判所を第一審の専属的合意管轄裁判所とします。
              </li>
            </ol>
          </div>
          <div class="reevisionHistory">
          <p>【2023年5月6日制定】</p>
          </div>
        </div>
      </div>
    </div>
    <!-- プライバシーポリシー -->
    <div class="privacyPolicy mt-3">
      <p class="h4 bg-info text-white px-2 py-1">プライバシーポリシー</p>
      <div class="privacyPolicyList col-12 mx-auto card borded ">
        <div class="card-body">
          <p>【プライバシーポリシー】</p>
          <ol>
            <li class="mb-2">
              当社は、お問い合わせなどの際に氏名・メールアドレス等の個人情報を入力いただく場合があります。当社は、利用者の個人情報を取得する際には、利用目的を明示し、その範囲内でのみ利用します。
            </li>
            <li class="mb-2">
              取得した個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。
              <ul style="list-style: circle;">
                <li>
                  本人の同意が得られた場合
                </li>
                <li>
                  法令により開示が求められた場合
                </li>
              </ul>
            </li>
            <li class="mb-2">
              当社は、個人情報の紛失、破壊、改ざん、漏えい等を防止するため、適切な管理を行います。
            </li>
            <li class="mb-2">
              利用者は、当社に対して、自己の個人情報の開示・訂正・利用停止を求めることができます。
            </li>
            <li class="mb-2">
              本プライバシーポリシーは、当社が任意に変更することができるものとします。変更されたプライバシーポリシーは、本サービス内に表示されるものを最新のものとします。
            </li>
          </ol>
          <div class="reevisionHistory">
            <p>【2023年5月6日制定】</p>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center mt-3">------</p>
    <p class="text-center"><%= link_to '問題選択へ戻る', root_path, method: :get %>
  </div>
